{% extends 'base.html' %}
{% load static %}
{% block reviewport %}
     INVITE USER
{% endblock %}
{% block base %}
    <div class="container" >

     <md-card ng-cloak>
        <div class="md-toolbar-tools">
            <img src="{% static 'images/list.png' %}">
            <a href="{% url 'accounting:users' %}"><md-button class="md-raised marginRight-3" >
                Users List
            </md-button></a>
                <img src="{% static 'images/list.png' %}">
            <md-button class="md-raised " >
               Invitation List
            </md-button>

        </div>
     </md-card>

    <md-card class="container_password" ng-controller="inviteCtl" ng-cloak>

      <form  method="post" action="{% url 'invitation:sendInvite'%}">
            {% csrf_token %}

<section layout="row">
            <md-input-container>
                <label>Email</label>
                <input name="email" type="email"required>
            </md-input-container>

            <md-input-container style="margin-left: 2rem">
                <label>Role</label>
                <md-select ng-model="myDateStatus"  name="role" ng-change="changeInOut(myDateStatus)" >
                        <md-option value="user"  selected>User</md-option>
                        <md-option value="admin" >Company Admin</md-option>
                </md-select>
            </md-input-container>


            <md-button type="submit"  class="md-raised" style="height: 10%; margin-left: 2rem;margin-top: 1rem">Send</md-button>
            <div style="float: right;margin-top: 1.5rem; margin-left: 17rem">
                    {% if msg %}
                         <span style="color:#0aa699 ">
                            Email has been send!
                        </span>
                    {% elif error %}
                        <span style="color:#a94442 ">
                            {{ error }}
                        </span>
                    {% else %}
                        <span style="color:#99a7b9 ">
                            An invitation will send to the email address.
                        </span>
                    {% endif %}
            </div>
</section>

      </form>

     </md-card>
    </div>
{% endblock %}

{% block customJS %}
<script src="{% static 'js/controller/invite.js' %}"></script>
{% endblock %}

