{% load static%}
<!DOCTYPE html>

<html lang="en" ng-app="allied">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Allied Rent A Car DamageID</title>



    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'node_modules/angular-material/angular-material.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/alliedrentacar.css' %}" rel="stylesheet">


</head>
<body>


            <div style="background-color: white">

                <div class="container">

                    <img src="{% static 'images/logoSmall.png' %}">

                </div>
            </div>



            <md-content>
                <md-toolbar class="md-hue-2">
                  <div class="md-toolbar-tools">
                      <div class="container">
                      <h2><strong>{% block headertitle_password %}

                      {% endblock %}</strong></h2>
                          </div>
                  </div>
                </md-toolbar>
            </md-content>


            {% block passwordbase %}

            {% endblock %}

</body>
    <!-- Angular -->
    <script src="{% static 'node_modules/angular/angular.min.js' %}"></script>
    <script src="{% static 'js/angular-animate.min.js' %}"></script>

    <script src="{% static 'js/angular-messages.min.js' %}"></script>
    <script src="{% static 'node_modules/angular-material/angular-material.min.js' %}"></script>
    <script src="{% static 'js/controller/alliedrentacar.js' %}"></script>
    {% block passowrdCustomJS %}

    {% endblock %}
</html>



