{% extends 'registration/password_reset_base.html' %}

{% block headertitle_password %}
    Password Reset Sent
{% endblock %}
{% block passwordbase %}

    <div class="container" >
    <md-card class="container_password">



      <form  method="post">
        {% csrf_token %}


          <span style="float: right; line-height: 2rem">

We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.

</span>

      </form>


     </md-card></div>

{% endblock %}