{% extends 'registration/password_reset_base.html' %}

{% block headertitle_password %}
    Forgot Your Password ?
{% endblock %}
{% block passwordbase %}

    <div class="container" >
    <md-card class="container_password">



      <form  method="post">
        {% csrf_token %}

            <input id="id_email" maxlength="254" name="email" type="email" class="password_input" placeholder="Enter Your Email" required/>
            <button type="submit" class="btn btn-primary">Send</button>
          <span style="float: right;margin-top: 1rem;color:#99a7b9 ">You will get an email to reset your password.</span>

      </form>


     </md-card></div>

{% endblock %}