body{
    background-color: #fafafa;
    height: 100%;
}


/* nav background */
.bg-inverse {
    background-color: #fff!important;
}
/* nav font */
.navbar-inverse .navbar-nav .nav-link {
    color: #99a7b9;
}
.navbar-inverse .navbar-nav .active>.nav-link, .navbar-inverse .navbar-nav .nav-link.active, .navbar-inverse .navbar-nav .nav-link.open, .navbar-inverse .navbar-nav .open>.nav-link {
    color: #99a7b9;
}
/* mobile nav button */
.navbar-toggler-right {
      position: absolute;
      right: 1rem;
      margin-top: 2rem;
}

.navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover {
    color: #ce8f22;
}
.navbar-nav > li{
    margin-left: 2rem;
}


/* up arrow */
table .sortorder:after {
  color: #99a7b9;
  content: '\25b2';

}
table .sortorder.reverse:after {
    content: '\25bc';
    color:#99a7b9;

}

/* reset password */
md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar), md-toolbar.md-hue-2:not(.md-menu-toolbar) {
    background-color: #4285f4;
    color: #fff;
}
.container_password{
    padding: 3rem 2rem;
    background-color: white;
}
form .password_input{
    background-color: white;
  padding: 10px;
  border: none;
  border-bottom: solid 1px #c9c9c9;
  transition: border 0.3s;
}

form .password_input:focus,
form .password_input.focus {

  outline: none;
  border-bottom: solid 1px #969696;
}

/* case detail page */

.flip {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.pointer{
    cursor:pointer
}
/* save comment button */
.md-button.md-raise:not([disabled]){
    width: 12.5rem;
    height: 3rem;
    margin: 0;
    margin-left: -1rem;
    color: white;
}
.md-button.md-raise:disabled{
    width: 12.5rem;
    height: 3rem;
    margin: 0;
    margin-left: -1rem;
    color: white;
}

.c-btn{
    background-color: rgb(250,250,250);
}

.bg_white{
    background-color: white;
}

.btn-sm {
    font-size: 14px;
    border-radius: 3px;
    padding: 0.4rem;
}

.marginRight-1{
    margin-right: 1rem;
}
.marginRight-2{
    margin-right: 2rem;
}
.marginRight-3{
    margin-right: 3rem;
}
/* fixed footer */
#wrap {
  min-height: 100%;
}
#main {
  overflow:auto;
  padding-bottom:100px; /* this needs to be bigger than footer height*/
}
.c-footer {
  position: relative;
  margin-top: -70px; /* negative value of footer height */
  height: 70px;
  clear:both;
  padding-top:20px;

}

/* signup */
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}


.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 18px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.pagination a{
    position: relative;
    display: block;
    padding: 0.7rem 1rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #0275d8;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-decoration: none;
}

.pagination a:focus{
    position: relative;
    display: block;
    padding: 0.7rem 1rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #fff;
    background-color: #0275d8;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-decoration: none;
}
