{% extends 'base.html' %}
{% load static %}

{% block reviewport %}

    CAR LIST

{% endblock %}

{% block base %}

<div class="container" ng-controller="carsCtl" ng-cloak>

    <md-card>
        <div class="md-toolbar-tools">
            <img src="{% static 'images/list.png' %}">
            <a href="{% url 'accounting:carCreate' %}"><md-button class="md-raised marginRight-3" >
                Add Car
            </md-button></a>


        </div>
    </md-card>
    <md-card style="padding: 2rem">
        <table class="table table-hover" ng-cloak>
              <thead>
                <tr >
                  <th ng-click="sortBy('unitNumber')">UNIT NUMBER
                      <span class="sortorder" ng-show="propertyName === 'unitNumber'" ng-class="{reverse: reverse}"></span>
                  </th>
                  <th ng-click="sortBy('plateNumber')">License Plate
                  <span class="sortorder" ng-show="propertyName === 'plateNumber'" ng-class="{reverse: reverse}"></span>
                  </th>
                  <th ng-click="sortBy('model')">MODEL
                  <span class="sortorder" ng-show="propertyName === 'model'" ng-class="{reverse: reverse}"></span>
                  </th>
                  <th ng-click="sortBy('status')">STATUS
                  <span class="sortorder" ng-show="propertyName === 'status'" ng-class="{reverse: reverse}"></span>
                  </th>
                </tr>
              </thead>
              <tbody>

              {% verbatim %}

               <tr dir-paginate="car in cars |orderBy:propertyName:reverse | itemsPerPage: 10" >
                   <th><a href="{{car.id}}">{{car.unitNumber}}</a></th>
                  <td>{{car.plateNumber}}</td>
                  <td>{{car.model}}</td>
                   <td><span ng-if="car.status == true">Active</span>
                      <span ng-if="car.status == false">Inactive</span>
                  </td>
                </tr>
              {% endverbatim %}
              </tbody>
        </table>
        </md-card>
<div layout="row" layout-align="center center">
        <dir-pagination-controls></dir-pagination-controls>
    </div>



</div>
{% endblock %}


{% block customJS %}
     <script src="{% static 'js/controller/cars.js' %}"></script>
{% endblock %}