{% extends 'base.html' %}
{% load static %}

{% block reviewport %}
    CASE LIST
{% endblock %}

{% block content %}

<div class="container" ng-controller="alliedController">

    <div  layout-padding ng-cloak>

            <md-card-title>

            </md-card-title>

            <md-card-content>
              <div layout="row" >
                <md-input-container flex="25" class="mr-5">
                      <label class="md-title">FILTER BY CONTRACT NO.</label>
                      <input type="text" ng-model="searchAll">
                </md-input-container>

                <md-input-container flex="15" >
                      <label>FILTER BY DATE</label>
                <md-select ng-model="myDateStatus" ng-change="changeInOut(myDateStatus)" >
                        <md-option value="Date in"  >Date in</md-option>
                        <md-option value="Date out" selected>Date Out</md-option>
                </md-select>
                </md-input-container>

                <md-input-container  class="mr-5">
                      <md-datepicker ng-model="searchDate[searchStatus]"  ng-change="convertDate(searchDate[searchStatus])"></md-datepicker>

                </md-input-container>


                <md-input-container flex="20" class="mr-5">
                      <label>FILTER BY STATUS</label>
                <md-select ng-model="textLabel" ng-change="changeStatus(textLabel)">

                        <md-option value="All">All</md-option>
                        <md-option value="On rent">On rent</md-option>
                        <md-option value="Ready for review">Ready for review</md-option>
                        <md-option value="Pass">Pass</md-option>
                        <md-option value="Fail">Fail</md-option>
                </md-select>
                </md-input-container>

              </div>
            </md-card-content>

    </div>

    <table class="table table-hover" >
              <thead>
                <tr >
                  <th ng-click="sortBy('contractNumber')">CONTRACT NO.
                      <span class="sortorder" ng-show="propertyName === 'contractNumber'" ng-class="{reverse: reverse}"></span>
                  </th>
                  <th ng-click="sortBy('plateNumber')">UNIT NO.
                  <span class="sortorder" ng-show="propertyName === 'plateNumber'" ng-class="{reverse: reverse}"></span>
                  </th>
                  <th ng-click="sortBy('username')">USERNMAE
                  <span class="sortorder" ng-show="propertyName === 'username'" ng-class="{reverse: reverse}"></span>
                  </th>
                  <th ng-click="sortBy('dateOutTime')">DATE OUT
                  <span class="sortorder" ng-show="propertyName === 'dateOutTime'" ng-class="{reverse: reverse}"></span>
                  </th>
                  <th ng-click="sortBy('dateInTime')">DATE IN
                  <span class="sortorder" ng-show="propertyName === 'dateInTime'" ng-class="{reverse: reverse}"></span>
                  </th>
                  <th ng-click="sortBy('status')">DATE STATUS
                  <span class="sortorder" ng-show="propertyName === 'status'" ng-class="{reverse: reverse}"></span>
                  </th>
                </tr>
              </thead>
              <tbody>
              {% verbatim %}

                <tr ng-repeat="post in posts | filter:searchText | filter:searchDate:searchStatus | filter:searchAll |orderBy:propertyName:reverse" >
                  <th>{{post.contractNumber}}</th>
                  <td>{{post.plateNumber}}</td>
                  <td>{{post.username}}</td>
                  <td>{{post.dateOutTime }}</td>
                  <td>{{post.dateInTime  }}</td>
                  <td><span class="badge badge-pill badge-warning" ng-if="post.damage">!</span>
                      <span class="badge badge-pill badge-success" ng-if="!post.damage">R</span>
                      {{post.status}}</td>
                </tr>
              {% endverbatim %}
              </tbody>
    </table>



</div>
{% endblock %}

