{% extends 'base.html' %}
{% load static %}

{% block reviewport %}
    CASE LIST
{% endblock %}

{% block content %}

<div class="container" ng-controller="alliedController">

{#            <div class="col-lg-6">#}
{#    <div class="input-group">#}
{#        <label for="exampleSelect1">FILTER BY CONTRACT NO.</label>#}
{#      <input type="text" class="form-control" placeholder="Search for...">#}
{##}
{#    </div>#}
{#  </div>#}
{##}
{#            <label for="exampleSelect1">FILTER BY DATE</label>#}
{#    <select class="form-control" id="exampleSelect1">#}
{#      <option>1</option>#}
{#      <option>2</option>#}
{#      <option>3</option>#}
{#      <option>4</option>#}
{#      <option>5</option>#}
{#    </select>#}

    <div  layout-padding ng-cloak>

            <md-card-title>

            </md-card-title>

            <md-card-content>
              <div layout="row">
                <md-input-container flex="25" class="mr-5">
                      <label class="md-title">FILTER BY CONTRACT NO.</label>
                      <input type="text" ng-model="searchText">
                </md-input-container>

                <md-input-container flex="15" >
                      <label>FILTER BY DATE</label>
                <md-select ng-model="myDateStatus">
                        <md-option value="Date in" selected>Date in</md-option>
                        <md-option value="Date out">Date Out</md-option>
                </md-select>
                </md-input-container>

                <md-input-container class="mr-5">
                      <md-datepicker ng-model="searchText" ></md-datepicker>
                </md-input-container>

                <md-input-container flex="20" class="mr-5">
                      <label>FILTER BY STATUS</label>
                <md-select ng-model="searchText" ng-change="change(searchText)">

                        <md-option value>All</md-option>
                        <md-option value="On rent">On rent</md-option>
                        <md-option value="Ready for review">Ready for review</md-option>
                        <md-option value="Pass">Pass</md-option>
                        <md-option value="Fail">Fail</md-option>
                </md-select>
                </md-input-container>

              </div>
            </md-card-content>

    </div>

    <table class="table table-hover" >
              <thead>
                <tr>
                  <th>CONTRACT NO.</th>
                  <th>UNIT NO.</th>
                  <th>USERNMAE</th>
                  <th>DATE OUT</th>
                  <th>DATE IN</th>
                  <th>DATE STATUS</th>
                </tr>
              </thead>
              <tbody>
              {% verbatim %}

                <tr ng-repeat="post in posts | filter:searchText" >
                  <th>{{post.contractNumber}}</th>
                  <td>{{post.plateNumber}}</td>
                  <td>{{post.contractNumber}}</td>
                  <td>{{post.dateOutTime }}</td>
                  <td>{{post.dateInTime }}</td>
                  <td><span class="badge badge-pill badge-warning" ng-if="post.damage">!</span>
                      <span class="badge badge-pill badge-success" ng-if="!post.damage">R</span>
                      {{post.status}}</td>
                </tr>
              {% endverbatim %}
              </tbody>
    </table>



</div>
{% endblock %}

