{% extends 'superbase.html' %}
{% load static%}
{% block base %}

<div style="background-color: white">

    <div class="container">

        <img src="{% static 'images/logoSmall.png' %}">

    </div>
</div>



    <md-content>
        <md-toolbar class="md-hue-2">
          <div class="md-toolbar-tools">
              <div class="container">
              <h2><strong>{% block headertitle_password %}

              {% endblock %}</strong></h2>
                  </div>
          </div>
        </md-toolbar>
    </md-content>


    {% block passwordbase %}

    {% endblock %}



{% endblock %}