{% extends 'superbase.html' %}
{% load static %}
{% block base %}

     <!-- Navigation Start -->
         <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="background-image: url({% static 'images/menu.png' %})"></span>
      </button>
        <div class="container" >
      <img src="{% static 'images/logoSmall.png' %}">

      <div class="collapse navbar-collapse justify-content-end"  id="navbarsExampleDefault">
        <ul class="nav navbar-nav">
          <li class="nav-item active">
                  <a class="nav-link font-weight-bold" href="#"><img src="{% static 'images/welcome.png' %}">
                      <span>Welcome, David Sun</span></a>
                </li>
                <li class="nav-item font-weight-bold">
                  <a class="nav-link" href="#"><img src="{% static 'images/users.png' %}">
                      <span>Users</span></a>
                </li>
                <li class="nav-item font-weight-bold">
                  <a class="nav-link" href="#"><img src="{% static 'images/car.png' %}">
                      <span>Cars</span></a>
                </li>
                <li class="nav-item font-weight-bold">
                  <a class="nav-link" href="#"><img src="{% static 'images/case.png' %}">
                      <span>Case List</span></a>
                </li>
                <li class="nav-item font-weight-bold">
                  <a class="nav-link" href="{% url 'accounting:logout' %}"><img src="{% static 'images/logout.png' %}">
                      <span>Logout</span></a>
                </li>
        </ul>
      </div>
      </div>
    </nav>
     <!-- Navigation End -->

     <!-- Header Start -->
        <div class="jumbotron alliedheader" >
          <div class="container">
            <h1 class="display-5">REVIEW PORTAL - {% block reviewport %}{% endblock %}</h1>
          </div>
        </div>
     <!-- Header End -->

    {% block content %}

    {% endblock %}


    <!-- Footer Start -->
     <hr>
          <footer>
            <p>&copy; Company 2017</p>
          </footer>
    <!-- Footer End -->


{% endblock %}