{% load static %}
<!DOCTYPE html>

<html lang="en" ng-app="allied">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Allied Rent A Car DamageID</title>



    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'node_modules/angular-material/angular-material.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/alliedrentacar.css' %}" rel="stylesheet">


</head>
<body>
<div id="wrap">
<div id="main" class="container clear-top" >

     <div class="login-page">
      <div class="form">
          <img src="{% static 'images/logoSmall.png' %}">
        <form class="login-form" method="POST">
        {% csrf_token %}
          <input type="text" name="firstname" placeholder="First Name"/>
          <input type="text" name="lastname" placeholder="Last Name"/>
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="Password"/>
          <input type="password"  placeholder="Confirm Password"/>
          <button>Register</button>
            {% if error %}
                {{ error }}
            {% endif %}
        </form>
      </div>
</div>

</div>
</div>







    <!-- Footer Start -->
    <footer class="c-footer">
         <hr ng-cloak>
         <div class="container" ng-cloak>


                  <p>&copy; Company 2017</p>

         </div>
    </footer>
    <!-- Footer End -->



</body>
     <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery-slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

    <!-- Angular -->
    <script src="{% static 'node_modules/angular/angular.min.js' %}"></script>
    <script src="{% static 'js/angular-animate.min.js' %}"></script>

    <script src="{% static 'js/angular-messages.min.js' %}"></script>
    <script src="{% static 'node_modules/angular-material/angular-material.min.js' %}"></script>
    <script src="{% static 'js/controller/alliedrentacar.js' %}"></script>


</html>