{% extends 'base.html'%}
{% load static %}
{% block content %}

    <div class="login-page">
        <div class="form" >
            <img src="{% static 'images/logo.png' %}">

            <form class="login-form" method="POST">{% csrf_token %}
              <input type="text" name="username" placeholder="username"/>
              <input type="password" name="password" placeholder="password"/>
              <button type="submit">login</button>
              <p class="message"><a href="#">Forgot password?</a></p>

                {% if error %}
                <p style="color:#CC085E;"><strong>{{ error }}</strong></p>
                {% endif %}

            </form>
        </div>
    </div>

{% endblock %}
